.crossword-wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 20px;
  padding: 40px;
  justify-items: center;
  align-items: center;
}

.selected-clue {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.crossword-grid-container {
  display: grid;
  grid-template-columns: 1fr 300px; 
  grid-gap: 20px;
  justify-items: center;
  align-items: start;
}

.crossword-grid {
  border-collapse: collapse;
}

.clue-section {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 20px;
  align-items: start;
}

.across, .down {
  max-height: 400px;
  overflow-y: auto;
}

.across ul, .down ul {
  list-style: none;
  padding: 0;
}

.across li, .down li {
  padding: 4px 0;
}

.across h3, .down h3 {
  margin-bottom: 10px;
}

.crossword-grid td {
  width: 5em;
  height: 5em;
  text-align: center;
  border: 1px solid black;
  position: relative;
}

.crossword-grid input {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  border: none;
  outline: none;
}

.number {
  position: absolute;
  top: 2px;
  left: 2px;
  font-size: 0.75em;
  color: black;
}

.black-cell {
  background-color: black;
}

.cell.highlighted {
  background-color: rgb(0, 191, 255);
}
.cell.highlighted input {
  background-color: rgb(0, 191, 255);
}
